body {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    display: block;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    padding: 11px 0 9px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #ee3643;
    border-radius: 3px;
}

.link:hover {
    background: #ca2c37;
}

.link:active {
    background: #ba2732;
}

.new::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../img/new-figure.png) no-repeat;
}

.sizer-content {
    width: 31.9%;
}

.sizer-catalog {
    width: 23%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/*====Style Header====*/

.page-header {
    margin-bottom: 60px;
    padding-bottom: 60px;
    font-size: 0;
    background: #f1f5f7;
}

.header-user-order {
    margin-bottom: 46px;
    background: #293449;
}

.header-user-order .page-title,
.header-user-order a,
.header-user-order .search-form,
.header-user-order form {
    display: inline-block;
    vertical-align: top;
}

.header-user-order .page-title {
    width: 23%;
    text-align: center;
    background: #ee3643;
    box-shadow: 0 5px 0 #b52933;
}

.header-user-order .page-title:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.header-user-order .page-title:active {
    background: #ba2732;
    box-shadow: 0 5px 0 #8e1e26;
}

.page-title .index-link {
    padding: 9px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.header-user-order .search-form {
    width: 27.5%;
    padding: 12px 17px 10px;
    font-size: 17px;
    line-height: 18px;
}

.search-form .search-input {
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
}

.search-form:hover,
.header-user-order .user-bookmarks:hover,
.header-user-order .user-basket:hover {
    background: #212a3a;
}

.header-user-order .user-bookmarks:active,
.header-user-order .user-basket:active {
    opacity: 0.5;
}

.header-user-order .user-bookmarks,
.header-user-order .user-basket,
.header-user-order .user-order-btn {
    width: 16%;
    padding: 12px 17px;
    font-size: 17px;
    line-height: 19px;
}

.header-user-order .basket-fill {
    background: #ee3643;
}

.header-user-order .basket-fill:hover {
    background: #ca2c37;
}

.header-user-order .basket-fill:active {
    background: #ba2732;
}

.header-user-order .user-order-btn {
    background: #63a63e;
}

.header-user-order .user-order-btn:hover {
    background: #5fbb2d;
}

.header-user-order .user-order-btn:active {
    opacity: 0.6;
}

.header-user-block {
    margin-bottom: 44px;
}

.header-user-block .shop-title {
    float: left;
    width: 32%;
    padding: 8px 52px;
    font-size: 16px;
    font-weight: inherit;
    line-height: 24px;
    font-style: italic;
    color: #ee3643;
}

.header-user-block .shop-contact {
    float: left;
    width: 28.7%;
    text-align: center;
}

.shop-contact .contact-phone {
    padding: 9px 0 9px;
    padding-right: 42px;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
    border: 3px solid #fff;
}

.shop-contact .contact-address {
    font-size: inherit;
    line-height: 24px;
    color: #000;
}

.shop-contact .icon-phone::before,
.shop-contact .icon-phone:hover::before {
    margin-right: 40px;
    color: #b7bfc8;
    opacity: 1;
}

.header-user-block .shop-login {
    float: right;
    width: 31%;
}

.shop-login .btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background: hsl(0, 0%, 100%);
}

.shop-login .btn:hover {
    color: #ee3643;
}

.shop-login .btn:hover::before {
    color: #32425c;
}

.shop-login .btn:active {
    color: rgba(0, 0, 0, 0.6);
}

.shop-login .login {
    margin-right: 10px;
    padding-left: 14px;
    padding-right: 23px;
}

.shop-login .login:before {
    margin-right: 14px;
}

.shop-login .register {
    padding: 14px 25px 13px;
}

.header-page-menu {
    background: #293449;
}

.header-menu ul {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    box-shadow: 0 5px 0 0 #212a3a;
}

.header-menu li {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.header-menu a {
    padding: 19px 29px;
    font-size: 17px;
    line-height: 17px;
}

.header-menu a:hover {
    background: #212a3a;
}

.header-menu a:active {
    opacity: 0.6;
}


/*====Main Content====*/

.page-content {
    margin-bottom: 53px;
    font-size: 0;
}

.page-content article {
    display: inline-block;
    vertical-align: top;
}

.page-content .content-item {
    position: relative;
    padding: 20px 24px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: bottom 27px right 43px;
}

.page-content .content-item:nth-child(3n),
.page-content .item_grn {
    margin-right: 0;
}

.item_ylw {
    background: #f6b22d;
    background-image: url(../img/paint-item.png);
}

.item_ylw:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
    background-image: url(../img/auto-item.png);
    background-position: bottom 28px right 31px;
}

.item_bl {
    background: #4aafde;
    background-image: url(../img/dril-item.png);
    background-position: bottom 29px right 28px;
}

.item_prl {
    background: #cc79d1;
    background-image: url(../img/tractor-item.png);
    background-position: bottom 30px right 31px;
}

.item_grn {
    background: #85d179;
    background-image: url(../img/basket-item.png);
    background-position: bottom 25px right 45px;
}

.content-item .item-btn {
    width: 135px;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.content-item .item-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.content-item .item-btn:active {
    background: rgba(0, 0, 0, 0.3);
}

.page-content .slider {
    position: relative;
    float: left;
    width: 65.9%;
    margin-right: 20px;
    overflow: hidden;
}

.slider .btn-slide {
    position: absolute;
    width: 45px;
    height: 45px;
    padding: 0;
    font-size: 45px;
    line-height: 18px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.slider .btn-slide::before {
    margin: 0;
    color: #fff;
    opacity: 1;
}

.slider .btn-left {
    top: 50%;
    left: 15px;
    margin-top: -20px;
    background-position: -9px -9px;
}

.slider .btn-right {
    top: 50%;
    right: 15px;
    margin-top: -20px;
    background-position: -52px -9px;
}

.slider .slide-dots {
    position: absolute;
    left: 50%;
    bottom: 36px;
    margin-left: -15px;
    width: 30px;
    height: 10px;
}

.slide-dots .dots {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.slide-dots .dots:last-child {
    margin-right: 0;
}

.dot-active {
    background: #ee3643;
}

.slider .slider-inner {
    font-size: 0;
}

.slider-inner .slide {
    display: none;
    vertical-align: top;
    width: 100%;
    min-height: 266px;
    padding: 20px 25px;
    background: url(../img/slide-1.png) no-repeat 100% 100%;
}

.slider-inner .slide:last-of-type {
    background-image: url(../img/slide-2.png);
}

.slide .slide-title {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.slide .slide-desc {
    font-size: 18px;
    line-height: 24px;
    font-family: 'PTsans', sans-serif;
}

.slide .slide-btn {
    position: absolute;
    bottom: 20px;
    width: 195px;
}

.slider-inner .slide-show {
    display: block;
}


/*====Popular Good====*/

.popular-good {
    margin-bottom: 20px;
}

.popular-header {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px 25px 25px 30px;
    background: #f7f3ec;
}

.popular-header .popular-title {
    float: left;
    margin-top: 5px;
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
    color: #32425c;
}

.popular-header .popular-link {
    float: right;
    width: 253px;
}

.popular-good .catalog-items {
    font-size: 0;
}

.catalog-items .catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-family: 'PTsans', sans-serif;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 175px;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
}

.item-hover .item {
    width: 141px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    font-family: 'Cuprum', sans-serif;
    line-height: 18px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.item-hover .item-buy {
    margin-bottom: 7px;
    color: #fff;
    text-align: left;
    background: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
}

.item-hover .item-buy::before {
    margin-right: 25px;
}

.item-hover .item-buy:hover {
    background-color: #5fbb2d;
}

.item-hover .item-buy:active {
    background-color: #518534;
    box-shadow: none;
}

.item-hover .item-bookmark {
    padding: 7px;
    color: #32425c;
    background: #fff;
    border: 3px solid #63a63e;
}

.item-hover .item-bookmark:hover {
    border-color: #32425c;
}

.item-hover .item-bookmark:active {
    border-color: #32425c;
    opacity: 0.3;
}

.catalog-item .catalog-item-img {
    width: 100%;
    height: 175px;
    margin-bottom: 5px;
}

.catalog-item-img img {
    max-width: 100%;
}

.catalog-item .catalog-item-title {
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.catalog-item .discount {
    min-height: 17px;
    margin-bottom: 11px;
    font-size: 17px;
    line-height: 18px;
    color: #999;
    text-decoration: line-through;
}

.catalog-item .price {
    position: relative;
    width: 141px;
    padding: 10px 0 11px;
    margin: 0 auto 20px;
    ;
    font-size: 17px;
    line-height: 17px;
    background: #ee3643;
    border-radius: 3px;
    cursor: default;
}

.catalog-item .price::after {
    content: '';
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid #fff;
    border-left-color: #ee3643;
}

.catalog-item:hover .item-hover {
    display: block;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}


/*====Popular Maker====*/

.popular-maker {
    margin-bottom: 65px;
}

.popular-maker .maker-block {
    font-size: 0;
}

.maker-block .maker-link {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.maker-block .maker-link:nth-child(4n) {
    margin-right: 0;
}

.maker-block .maker-link:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.maker-block .maker-link:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.maker-block .maker-link:active img {
    opacity: 0.3;
}


/*====Service====*/

.service {
    margin-bottom: 80px;
    padding-top: 1px;
    background: #f2f6f8;
}

.service .service-text {
    margin-top: 65px;
    margin-bottom: 25px;
}

.service-text .service-title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
}

.service-text .service-desc {
    margin-bottom: 15px;
    font-size: 13px;
    font-family: 'PTsans', sans-serif;
    line-height: 24px;
    color: #000;
}

.features-tab input {
    display: none;
}

.service-features .tab-controls {
    position: relative;
    float: left;
    width: 25.5%;
    padding: 48px 0;
    margin-right: 80px;
}

.service-features .tab-controls::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 10px;
    background: url(../img/shadow.png) no-repeat 0 0;
}

.tab-controls .tab-toggle {
    display: block;
    width: 100%;
    padding: 15px 22px 16px;
    font-size: 21px;
    line-height: 30px;
    background: #32425c;
    box-shadow: inset 0 -1px 0 #293449;
}

.tab-controls .tab-toggle:hover {
    background: #293449;
}

.tab-1:checked~.tab-controls .toggle-1,
.tab-2:checked~.tab-controls .toggle-2,
.tab-3:checked~.tab-controls .toggle-3 {
    color: #32425c;
    background: #fff;
    box-shadow: none;
}

.service-features .features-desc {
    float: right;
    width: 65.9%;
}

.features-desc .desc-block {
    width: 100%;
    min-height: 330px;
    padding: 48px 0 0;
}

.desc-block .desc-wrapp {
    width: 44.3%;
}

.desc-wrapp .desc-title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
    text-transform: uppercase;
}

.desc-wrapp .desc-text {
    font-size: 13px;
    font-family: 'PTsans', sans-serif;
    line-height: 24px;
    color: #000;
}

.desc--credit .desc-text {
    margin-bottom: 30px;
}

.desc--guarantee .desc-wrapp {
    width: 61%;
}

.desc-wrapp .desc-link {
    width: 71%;
}

.desc--deliver {
    display: none;
    background: url(../img/service-auto.png) no-repeat;
    background-position: top 72px right 0;
}

.desc--guarantee {
    display: none;
    background: url(../img/service-guarantee.png) no-repeat;
    background-position: top 48px right 0;
}

.desc--credit {
    display: none;
    background: url(../img/service-credit.png) no-repeat;
    background-position: top 48px right 0;
}

.tab-1:checked~.features-desc .desc--deliver,
.tab-2:checked~.features-desc .desc--guarantee,
.tab-3:checked~.features-desc .desc--credit {
    display: block;
}


/*====About Company====*/

.about-comp {
    margin-bottom: 80px;
    color: #000;
}

.about-comp .company {
    float: left;
    width: 57%;
}

.about-comp .company-title {
    margin-bottom: 25px;
    font-size: 30px;
    text-transform: uppercase;
}

.about-comp .company-text {
    margin-bottom: 25px;
    font-size: 13px;
    font-family: "PTsans", sans-serif;
    line-height: 24px;
}

.company .company-text:nth-of-type(2) {
    margin-bottom: 0;
}

.company .company-list {
    margin-bottom: 35px;
}

.company-list li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.company-list li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    margin-top: -2px;
    background: #ee3643;
}

.company .company-more {
    width: 41%;
}

.about-comp .company-contact {
    float: right;
    width: 32%;
}

.company-contact .company-text {
    margin-bottom: 35px;
}

.company-contact .company-maps {
    width: 300px;
    height: 158px;
    margin-bottom: 40px;
    background: url(../img/img-map.png) no-repeat;
    cursor: pointer;
}

.company-maps img {
    width: 100%;
    height: auto;
}


/*====Footer====*/

.footer-menu {
    padding-bottom: 50px;
    background: #32425c;
}

.footer-menu a,
.footer-menu p {
    font-size: 18px;
    line-height: 24px;
}

.footer-menu .menu-title {
    float: left;
    width: 23%;
    text-align: center;
    background: #ee3643;
    box-shadow: inset 0 -5px 0 0 #b52933;
}

.menu-title .menu-link {
    padding: 19px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.footer-menu .menu-title:hover {
    background: #ca2c37;
    box-shadow: inset 0 -5px 0 #9a212a;
}

.footer-menu .menu-title:active {
    background: #ba2732;
    box-shadow: inset 0 -5px 0 #8e1e26;
}

.footer-menu .footer-list {
    float: right;
    width: 59%;
    margin-top: 40px;
    padding-bottom: 10px;
    font-size: 0;
}

.footer-list li {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 60px;
}

.footer-list li:last-child {
    margin-right: 0;
}

.footer-menu .address {
    float: left;
    width: 35%;
    margin-top: 30px;
}

.footer-menu .footer-list--good {
    margin-top: 24px;
    padding: 0;
}

.footer-list--good a {
    color: #ffd180;
}

.footer-list--good li:first-child {
    margin-left: 14px;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-list a:active {
    opacity: 0.5;
}

.page-footer {
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
    background: #293449;
}

.page-footer .footer-copyright {
    float: left;
    width: 24%;
}

.page-footer .footer-social {
    float: left;
    width: 46%;
    font-size: 0;
    text-align: center;
}

.footer-social .social {
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 41px;
    margin-right: 5px;
    padding-top: 12px;
    font-size: 18px;
    line-height: 11px;
    text-align: center;
    background: #212a3a;
    border-radius: 50%;
}

.footer-social .social::before {
    margin: 0;
    padding: 0;
    opacity: 1;
}

.footer-social .social:hover,
.footer-social .social:active {
    background: #ee3643;
}

.page-footer .feedback {
    float: right;
    width: 30%;
}

.feedback .feedback-text {
    float: left;
}

.feedback .feedback-text:last-child {
    margin-left: 48px;
}

.feedback-text .feedback-link {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.feedback-text .feedback-link:hover {
    text-decoration: underline;
}

.feedback-text .feedback-link:active {
    color: #ee3643;
}


/*====Styling Catalog====*/

.page-header--catalog {
    margin-bottom: 0;
}

.page-content--catalog {
    margin-bottom: 60px;
    font-size: 14px;
    font-family: 'PTsans', sans-serif;
}

.shop-logged {
    float: right;
    width: 32%;
}

.shop-logged .login {
    width: 100%;
    padding: 12px 10px;
    font-size: 21px;
    color: #000;
    background: #fff;
}

.shop-logged .login::before,
.shop-logged .login::after {
    font-style: 22px;
    line-height: 18px;
    color: #32425c;
}

.shop-logged .login::after {
    content: '\241b';
    padding-left: 30px;
    font-family: 'symbols-technomart';
    opacity: 0.3;
}

.shop-logged .login:hover::after {
    opacity: 1;
}

.shop-logged .login:active,
.shop-logged .login:active::before,
.shop-logged .login:active::after {
    color: rgba(50, 66, 92, 0.3);
}

.shop-logged .logged-link {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
    text-align: center;
}

.shop-logged .logged-link:hover {
    color: #ee3643;
}

.shop-logged .logged-link:active {
    color: #32425c;
    opacity: 0.3;
}

.shop-logged .dotted {
    width: 12px;
    height: 12px;
    margin-top: 13px;
    margin-right: 10px;
    background: #32425c;
    border-radius: 50%;
    border: 4px solid #f2f6f8;
}

.order {
    margin-left: 20px;
    margin-right: 15px;
}

.breadcrumb {
    margin-top: 25px;
    font-size: 0;
}

.breadcrumb a {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-family: 'PTsans', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
}

.breadcrumb [class*="icon-"]::before,
.breadcrumb [class*="icon-"]:hover::before,
.breadcrumb [class*="icon-"]:active::before {
    font-size: 16px;
    line-height: 18px;
    color: #c1c6ce;
    opacity: 1;
}

.breadcrumb .breadcrumb-link {
    padding-left: 14px;
}

.page-content .content-title {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 32px 30px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Cuprum", sans-serif;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background: #f2f6f8;
}

.content-filter {
    float: left;
    width: 23%;
    margin-right: 20px;
    text-transform: uppercase;
    color: #000;
}

.catalog-block {
    float: left;
    width: 74.7%;
}

.content-filter .filter-title {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 18px;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    background: #f7f3ec;
    border-radius: 3px;
}

.content-filter .filter {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-bottom: 25px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
}

.content-filter .filter:last-of-type {
    margin-bottom: 30px;
    border-bottom: none;
}

.filter legend {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.price-filter .range-controls {
    position: relative;
    margin-bottom: 13px;
    width: 100%;
    padding: 39px 20px;
    background: #f7f3ec;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.scale .bar {
    margin-right: 28px;
    height: 2px;
    background: #00ca74;
}

.toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    cursor: pointer;
}

.toggle-min {
    top: 30px;
    left: 10px;
}

.toggle-max {
    top: 30px;
    right: 38px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 44%;
}

.price-controls .max-price {
    text-align: right;
}

.price-controls input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #f7f3ec;
}

.price-controls .separator {
    margin: 0 10px;
    font-size: 16px;
    line-height: 18px;
}

.filter-maker input,
.filter-power input {
    display: none;
}

.filter-maker label,
.filter-power label {
    position: relative;
    display: block;
    margin-bottom: 23px;
    padding-left: 35px;
    font-size: 15px;
    line-height: 20px;
}

.filter-maker label::before,
.filter-power label::before {
    content: '\2610';
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    font-size: 28px;
    font-family: "symbols-technomart";
    color: #c1c1c1;
}

.maker-check:checked+label::before {
    content: '\2611';
}

.maker-check:disabled+label::before {
    opacity: 0.3;
}

.filter-power label::before {
    content: '\25cb';
}

.power-radio:checked+label::before {
    content: '\25cf';
}

.ower-radio:disabled+label::before {
    opacity: 0.3;
}

.content-filter .btn-submit {
    width: 65%;
    padding: 9px 0 9px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    border: 1px solid #e5e5e5;
    outline: none;
}

.content-filter .btn-submit:hover {
    border-color: #bdc6ca;
}

.content-filter .btn-submit:active {
    border-color: #ee3643;
}


/*====Catalog====*/

.catalog-block .catalog-sort {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 19px 6px;
    font-size: 0;
    font-weight: inherit;
    font-family: 'PTsans', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    background: #f7f3ec;
}

.catalog-sort .sort-title {
    display: inherit;
    margin: 0;
    margin-right: 40px;
    font-size: 13px;
    color: #000;
}

.catalog-sort .sort-item {
    display: inherit;
    margin-right: 40px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort .sort-item:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom-style: solid;
}

.catalog-sort .sort-item:active {
    border: none;
}

.catalog-sort .active-sort {
    color: #ee3643;
    border: none;
}

.catalog-sort .active-sort:hover {
    border: none;
}

.catalog-sort .arrow-block {
    float: right;
}

.arrow-block .arrow-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 23px;
    line-height: 20px;
    color: #c1c1c1;
}

.arrow-block .arrow-item:last-of-type {
    margin-right: 0;
}

.arrow-block .arrow-item:before {
    width: 11px;
    height: 11px;
    margin: 0;
}

.arrow-block .arrow-item:hover {
    color: rgba(0, 0, 0, 1);
}

.arrow-block .arrow-item:active::before {
    color: #ee3643;
    opacity: 1;
}

.arrow-block .active-arrow::before {
    color: #ee3643;
    opacity: 1;
}

.arrow-block .active-arrow:hover {
    color: #ee3643;
}

.catalog-items--perforators .catalog-item--perforators {
    width: 31%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog-items--perforators .catalog-item--perforators:nth-child(3n) {
    margin-right: 0;
}

.catalog-block .catalog-pagination {
    margin-top: 50px;
    font-size: 0;
}

.catalog-pagination .pagination-item {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px 10px 16px;
    margin-right: 10px;
    font-size: 13px;
    font-family: 'PTSans', sans-serif;
    line-height: 18px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
}

.catalog-pagination .pagination-item:hover {
    border-color: #bdc6ca;
}

.catalog-pagination .pagination-item:active {
    border-color: #ee3643;
}

.catalog-pagination .pagination-active {
    background: #ee3643;
    color: #fff;
}

.about-catalog {
    padding: 70px 0;
    line-height: 24px;
    color: #000;
    background: #f7f3ec;
}

.about-catalog .about-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
}

.about-catalog .about-text {
    font-size: 13px;
    font-family: 'PTsans', sans-serif;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5)
}

.modal-overlay--show {
    display: block;
}

.modal-content {
    position: absolute;
    left: 50%;
    z-index: 20;
    display: none;
    width: 620px;
    margin-left: -310px;
    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
    border-top: 7px solid #ee3643;
}

.modal-content__catalog {
    top: 420px;
}

.modal-content--close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 0;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-content--close::before,
.modal-content--close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 5px;
    background: #ee3643;
}

.modal-content--close::before {
    transform: rotate(-45deg);
}

.modal-content--close::after {
    transform: rotate(45deg);
}

.modal-content__catalog .modal-catalog__text {
    width: 100%;
    padding: 50px 0;
    padding-left: 100px;
}

.modal-catalog__text p {
    position: relative;
    font-size: 30px;
    line-height: 65px;
    color: #000;
    text-align: center;
}

.modal-catalog__text p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #63a63e url(../img/modal-check.png) no-repeat center center;
}

.modal-content__button {
    width: 100%;
    padding: 37px 80px;
    font-size: 0;
    background: #f7f3ec;
}

.modal-content__button .modal-catalog__btn,
.modal-content__button .modal-content__btn {
    display: inline-block;
    width: 47.8%;
    margin-right: 20px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #ee3643;
    border-radius: 3px;
    border: none;
    outline: none;
}

.modal-content__button .modal-catalog__btn:nth-child(2n) {
    margin-right: 0;
}

.modal-catalog__btn:hover,
.modal-content__btn:hover {
    background: #ca2c37;
}

.modal-catalog__btn:active,
.modal-content__btn:active {
    background: #ba2732;
}

.modal-content__button .modal-catalog__btn--close {
    color: #000;
    background: #fff;
    cursor: pointer;
}

.modal-content__button .modal-catalog__btn--close:hover,
.modal-content__button .modal-catalog__btn--close:active {
    outline: 2px solid #000;
}

.modal-content__index {
    bottom: 200px;
}

.modal-content__user-form {
    padding: 48px 80px 30px;
    font-size: 0;
}

.modal-content__user-form p {
    display: inline-block;
    width: 47.8%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.modal-content__user-form p:nth-child(2n) {
    margin-right: 0;
}

.modal-content__user-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #000;
}

.modal-content__user-form input {
    width: 100%;
    padding: 8px 14px;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    border: 2px solid #d7dcde;
    box-sizing: border-box;
}

.modal-content__user-form textarea {
    width: 100%;
    margin: 0;
    padding: 8px 14px;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    border: 2px solid #d7dcde;
}

.modal-content__button .modal-content__btn--submit {
    width: 100%;
}

.modal-content__map {
    position: absolute;
    bottom: 350px;
    left: 50%;
    z-index: 20;
    display: none;
    width: 940px;
    height: 445px;
    margin-left: -470px;
    box-shadow: 0 0 15px 2px rgba(35, 31, 32, 0.5);
    background: #ccc url(../img/img-map.png) no-repeat center center;
}

.modal-content__map .modal-content__map-btn {
    background: transparent;
}

.modal-content--show,
.modal-map--show {
    display: block;
    animation: show 0.8s;
}

.modal-error {
    animation: error 0.7s;
}

@keyframes error {
    0% 100% {
        transform: translateY(0);
    }
    10% 30% 50% 70% 90% {
        transform: translateY(-10px);
    }
    20% 40% 60% 80% {
        transform: translateY(10px);
    }
}

@keyframes show {
    0% {
        transform: translateX(-700px);
    }
    40% {
        transform: translateX(640px);
    }
    70% {
        transform: translateX(-320px);
    }
    100% {
        transform: translateX(0);
    }
}